body {
  background-color: #fcfefe;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  text-align: center;
}

.app-content {
  position: relative;
}

#phone-frame {
  width: 700px;
  height: auto;
}

.text-overlay {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(
    91.9deg,
    rgb(94, 124, 121) 4.4%,
    rgb(64, 224, 208) 89%
  );
  padding: 4%;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#current-temp {
  font-size: 90%;
}

#weather-heading {
  font-size: 90%;
}

#daily-forecast {
  font-size: 90%;
}
